<div class ="container">
  <div class="cover-user-index">
  <%= flash[:notice] %>
  <div class ="row">
    <div class ="col-9">
      <h2>みんなで子育てについて語り合おう</h2>
      <!--キーワード検索-->
      <%= form_tag(posts_path, :method => "get") do %>
        <%= text_field_tag :search %> 
        <%= submit_tag "検索" ,:username => nil ,class: "button is-info"%> 
      <% end %>
      <!--投稿フォーム-->
        <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <h4></h4>
        <%= f.text_area :content, placeholder:"投稿しよう"  %>
        <%= f.submit '投稿' %>
        <% end %>
    </div>
    <!--いいねランキング-->
    <div class ="col-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">いいね!ランキング♡</div>
          <div class="card-body text-dark">
            <h6 class="card-title">みんなのいいね TOP10</h6>
            <p class="card-text">
              <% @posts_favorites.each.with_index(1) do |post, i| %>
              <p>
                第<%= i %>位
                <%= post.user.nick_name %>
                ♡<%=post.favorites.size%>
              </p>
              <% end %>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |posts| %>
    <!--３回で折り返す-->
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            <!--押したユーザーの投稿詳細に行きたい-->
            <%= link_to user_path(posts.user_id) do %>
            <span>
              <% if posts.user.profile_image.attached? %>
                <%= image_tag posts.user.profile_image, size: "50x50" %>
              <% else %>
                <%= image_tag "no_image.jpeg", size: "50x50" %>
              <% end %>
              <%= posts.user.nick_name %>
            </span>
            <% end %>
          </h5>
            <p class="card-text"><%= posts.content.truncate(10) %></p>
            <p><%= link_to "#{posts.comments.count} コメント", post_path(posts.id) %></p>
              <%= link_to "コメントする", post_path(posts.id),class: "btn btn-sm btn-outline-info" %>
        </div>
      </div>
    </div>
    <% end %>
      
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-2">
    <%= paginate @posts %>
  </div>
</div>