<h1>投稿の詳細</h1>
<div>
  <p>コメント件数：<%= @post.user.comments.count %></p>
  <% @post.user.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントを書く" %>
    <%= f.submit "送信する" %>
  <% end %>
   <!--% if @posts.favorited_by?(current_user) %>-->
    <p>
      <%#= link_to post_favorites_path(@posts), method: :delete do %>
        ♥<%#= @posts.favorites.count %> いいね
      <!--% end %>-->
    </p>
    <!--% else %>-->
    <p>
      <%#= link_to post_favorites_path(@posts), method: :post do %>
        ♡<%#= @posts.favorites.count %> いいね
      <!--% end %>-->
    </p>
  <% end %>
</div>