<div class ="container mt-3">
<div class="h4 pb-2 mb-4 border-bottom border-danger">
  管理者出品編集
</div>
  <%= form_with model: @item, url: admin_item_path do |f| %>
    <table border="0" cellpadding="7" cellspacing="0" width="30%">
      <tr><th>出品したユーザー</th><td><%= @item.user.name %></td></tr>
      <tr><th>出品内容</th><td><%= f.text_area :introduction, autofocus: true, id:"inputContent",:size=>"25x7" %></td></tr>
      <tr><th>出品価格</th><td><%= @item.price.to_s(:delimited) %>円</td></tr>
      <tr><th>ステータス</th><td><%= @item.status %></td></tr>
      <tr><th></th><td><%= f.submit "変更を保存", class: "btn btn-outline-info" %></td></tr>
    </table>  
    
    <% end %>
</div>