<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
    管理者出品編集
  </div>
  <%= form_with model: @item, url: admin_item_path do |f| %>
    <table border="0" cellpadding="7" cellspacing="0" width="30%">
      <tr><th>出品したユーザー</th><td><%= @item.user.name %></td></tr>
      <tr><th>商品名</th><td><%= f.text_field :name, autofocus: true, id:"inputName" %></td></tr>
      <tr><th>出品内容</th><td><%= f.text_area :introduction, autofocus: true, id:"inputContent",:size=>"25x7" %></td></tr>
      <tr><th>販売価格(税抜)</th><td><%= f.number_field :price %>円</td></tr>
      <tr><th><%= f.label :status, '商品の状態' %></th><td><%= f.select :status, {'新品未使用':'新品未使用','ほぼ新品':'ほぼ新品','傷や汚れあり':'傷や汚れあり','状態は悪い':'状態は悪い'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></td></tr>
      <tr><th></th><td><%= f.submit "変更を保存", class: "btn btn-outline-info" %></td></tr>
    </table>
  <% end %>
</div>