<div class ="container">
  <div class="title text-center">
    <h5>
      <%= ("#{@another_entry.user.nick_name}さんとのメッセージ") %>
    </h5>
  </div>
  
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
      <div class ="row">
          <div class ="col-6"></div>
        <div class ="col-6">
          <div class ="mycomment">
            <p>
              <%= image_tag m.user.get_profile_image(100,100) %>
              <%= m.user.nick_name %>: <br>
              <%= m.content %><br>
              <small class="text-black-50">
                <%= m.user.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
            </p>
          </div>
        </div>
        
      </div>
        <% else %>
        <div class ="row">
        <div class ="col-6">
        
          
        <%= image_tag m.user.get_profile_image(100,100) %>
        <%= m.user.nick_name %>
        <div class ="chatting">
          <div class ="says">
            <p>
              <%= m.content %><br>
              <small class="text-black-50">
                <%= m.user.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class ="col-6"></div>
      </div>
      </div>
    <div class ="row">
      
     
    <div class ="chat-form-box">
      <%= form_for @message do |f| %>
        <div class ="chat-form-group">
          <%= f.text_field :content %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit "送信する" %>
        </div>
      <% end %>
        </div>
        </div>
      
  </div>