<div class ="container mt-3">
  <h5><div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
    <%= ("#{@another_entry.user.nick_name}さんとのメッセージ") %>
  </div></h5>
  
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
      <div class ="current_user">
        <strong class="current_user"><%= m.content %></strong>
        <small class="current_user"><%= m.user.nick_name %></small>
      </div>
      <div class ="time">
          <small class="text-black-50">
            <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
          </small>
          </div>
      <% else %>
        <div class="visited_user">
          <strong class="visited_user"><%= m.content %></strong>
          <small class="visited_user"><%= m.user.nick_name %></small>
        </div>
              <small class="text-black-50">
                <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
      <% end %>
    <% end %>
     
    <div class ="current_user_1 mt-3">
      
      <%= form_for @message do |f| %>
        <div class ="chat-form-group">
          <%= f.text_field :content %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit "送信する" %>
        </div>
      <% end %>
      </div>
  
</div>