<div class ="flash">
  <%= flash[:notice] %>
</div>
<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
    ユーザー一覧
  </div>
  <table border="0" cellpadding="11" cellspacing="0" width="95%">
    <thead>
      <tr>
        <th width="20%">氏名</th>
        <th>メールアドレス</th>
        <th width="20%">住所</th>
        <th width="20%">ステータス</th>
     </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_path(user.id) %></td>
        <td><%= user.email %></td>
        <td><%= user.postal_code %><%= user.address %></td>
        <!--有効か退会か-->
        <td><% if user.is_deleted %>
            <span style="color:grey;">退会</span>
         <% else %>
            <span style="color:limegreen;">有効</span>
        <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex align-items-center justify-content-center">
  <div><%= paginate @users %></div>
</div>