<%= flash[:notice] %>
<div class ="container mt-3">
  <h5>管理者投稿一覧</h5>
    <table border="0" cellpadding="11" cellspacing="0" width="95%">
        <thead>
          <tr>
            <th width="10%">氏名</th>
            <th width="15%">ニックネーム</th>
            <th width="20%">投稿日時</th>
            <th width="20%">投稿</th>
         </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.user.name %></td>
          <td><%= post.user.nick_name %></td>
          <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= link_to post.content.truncate(10),admin_post_path(post.id) %></td>
        <% end %>
      </tbody>
      </table>
      <div class="d-flex align-items-center justify-content-center">
        <%= paginate @comments %>
      </div>
  </div>