<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>

  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
  <%= f.label :氏名 %><br>
  <%= f.text_field :name, placeholder:"令和 道子" %>
</div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@test" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（６文字以上） %>
    <% if @minimum_password_length %>
   
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
 <h5>登録がお済みの方</h5>
  <a><%= link_to "ログイン",new_user_session_path %></a>

