<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
      <%= @user.name %>さんの情報編集
  </div>
    <%= form_with model: @user, url: information_users_path do |f| %>
    <%= image_tag @user.get_profile_image(100,100) %>
      <table border="0" cellpadding="7" cellspacing="0" width="60%">
        <tr><th>プロフィール画像</th><td><%= f.file_field :profile_image, accept: "image/*" %></td></tr>
        <tr><th>氏名</th><td><%= f.text_field :name, autofocus: true, id:"inputName" %></td></tr>
        <tr><th>メールアドレス</th><td><%= f.text_field :email, autofocus: true, id:"inputEmail" %></td></tr>
        <tr><th>ニックネーム</th><td><%= f.text_field :nick_name, autofocus: true, id:"inputNick_Name" %>　※ニックネーム（表示されます）</td></tr>
        <tr><th>郵便番号</th><td><%= f.text_field :postal_code, autofocus: true, id:"inputPostal_code" %></td></tr>
        <tr><th>住所</th><td><%= f.text_field :address, autofocus: true, id:"address",size: 50 %></td></tr>
        <tr><th>居住地</th><td><%= f.text_field :from, autofocus: true, id:"inputFrom" %></td></tr>
        <tr><th>年齢</th><td><%= f.text_field :age, autofocus: true, id:"inputAge" %></td></tr>
        <tr><th>自己紹介文</th><td><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %></td></tr>
        <tr><th></th><td>
          <%= f.submit "変更を保存", class: "btn btn-outline-success" %>
          <%= link_to "退会する", withdraw_users_path,method: :patch, class: "btn btn-outline-danger","data-confirm" => "本当に退会しますか?" %>
        </td></tr>
      </table>
    <% end %>
</div>