<div class ="container">
  <h5><%= @user.name %>さんのマイページ</h5>
    <div class ="row">
      <div class ="col-6">
        
        <%= image_tag @user.get_profile_image(100,100) %><br>
        <%= link_to information_edit_users_path(@user.id),class: 'btn btn-outline-secondary' do %>
          <span><i class="fas fa-user-cog"></i></span>
        <% end %>
        <%= link_to notifications_path,class: 'btn btn-outline-danger' do %>
          <span><i class="fa-solid fa-bell"></i></span>
        <% end %>
        <%= link_to rooms_path,class: 'btn btn-outline-info' do %>
          <span>メッセージ一覧</span>
        <% end %>
        <table border="0" cellpadding="7" cellspacing="0" width="60%">
          <tr><th>氏名</th><td><%= @user.name %></td></tr>
          <tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
          <tr><th>ニックネーム</th><td><%= @user.nick_name %></td></tr>
          <tr><th>住所</th><td><%= @user.address %></td></tr>
          <tr><th>郵便番号</th><td><%= @user.postal_code %></td></tr>
          <tr><th>居住地</th><td><%= @user.from %></td></tr>
          <tr><th>年齢</th><td><%= @user.age %>歳</td></tr>
          <tr><th>自己紹介文</th><td><%= @user.introduction %></td></tr>
        </table>
      </div>
      <div class ="col-6">
        <div>今までの投稿履歴</div>
  <!--each文なんで構文エラーになるの-->
        <div>
  <!--% @posts each do |post| %>-->
    <%#= post.content %>
  <!--% end %>-->
        </div>
      </div>
    </div>
</div>