<div class ="container">
<h5><%= @user.name %>さんのマイページ</h5>
  <%= image_tag @user.get_profile_image(100,100) %><br>
 <%= link_to information_edit_users_path(@user.id),class: 'btn btn-outline-secondary' do %>
        <span><i class="fas fa-user-cog"></i></span>
      <% end %><br>
  
  <%= link_to "ルーム一覧", rooms_path,class: "btn btn-info" %>
  
  　<div>
      <p>ニックネーム</p>
      <%= @user.nick_name %>
    </div>
    <div>
      <p>出身地</p>
      <%= @user.from %>
    </div>
    <div>
      <p>年齢</p>
      <%= @user.age %>歳
    </div>
    <div>
      <p>自己紹介文</p>
      <%= @user.introduction %>
    </div>
  
  <div>今までの投稿履歴</div>
  <!--each文-->
  <p><%#= link_to "#{posts.comments.count} コメント", post_path(posts.id) %></p>
  
</div>