<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
    <%= @user.nick_name %>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="card shadow-lg" style="width: 15rem;">
        <%= image_tag @user.get_profile_image(100,100), class: "mx-auto d-block w-50" %><br>
      <!--自分の編集画面-->
        <% if @user == current_user %>
          <%= link_to information_edit_users_path(@user.id),class: 'btn btn-outline-secondary' do %>
          <span><i class="fas fa-user-cog"></i></span>
          <% end %><br>
        <% end %>
        <div class="card-body ">
          <h5 class="card-title">自己紹介
    <!--すでに部屋が存在しているかどうか分岐、
    していなければformでコントローラーにパラメーターに送る-->
            <% unless @user.id == current_user.id %>
            <% if @is_room == true %>
              <%= link_to 'メッセージへ', room_path(@room_id), class: "btn btn-outline-info" %>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <% e.hidden_field :user_id, value: @user.id %>
                <% end %>
                  <%= f.submit "メッセージを送る", class: "btn btn-outline-info" %>
                <% end %>
              <% end %>
            <% end %>
          </h5>
          <p class="card-text"><%= @user.introduction %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ニックネーム : <%= @user.nick_name %></li>
          <li class="list-group-item">居住地 : <%= @user.from %></li>
          <li class="list-group-item">年齢 : <%= @user.age %>歳</li>
        </ul>
      </div>
    </div>
    <div class ="col-3.5 mr-5">
      <div>今までの投稿履歴</div>
        <% @posts.each do |posts| %>
          <div class="card shadow-lg mb-2 mt-3">
            <small class="text-black-50">
              <%= posts.created_at.strftime('%Y/%m/%d %H:%M') %>
            </small>
            <div class="card-body1">
            <!--card自体をリンクにしたい-->
            <%= link_to post_path(posts.id) do %>
            <h5 class="card-title">
              <!--押したユーザーの投稿詳細に行きたい-->
              <%= link_to user_path(posts.user_id) do %>
                <span>
                  <% if posts.user.profile_image.attached? %>
                    <%= image_tag posts.user.profile_image, size: "50x50" %>
                  <% else %>
                    <%= image_tag "no_image.jpeg", size: "50x50" %>
                  <% end %>
                    <%= posts.user.nick_name %>
                </span>
              <% end %>
            </h5>
              <p class="card-text"><%= posts.content.truncate(20) %></p>
              <p><%= link_to "#{posts.comments.count} 件", post_path(posts.id) %>
              <i class="fa-regular fa-comment"></i>
                <%= link_to "コメント", post_path(posts.id) %>
              </p>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-2.5">
      <div>今までの出品履歴</div>
        <% @items.each do |item| %>
          <div class="card-size">
            <div class="card shadow-lg mb-2 mt-3 ml-3">
              <small class="text-black-50">
                <%= item.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
              <%= link_to item_path(item.id) do %>
                <% if item.order_details.present? %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
                <% if item.images.attached? %>
                  <%= image_tag item.images[0] ,size: "200x150" %>
                <% else %>
                  <%= image_tag "noimage.png",size: "200x150" %>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= item.name %></p>
                <p class="card-text">¥<%= (item.price.to_s(:delimited)) %></p>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>