<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
    商品編集
  </div>
  <%= form_with model: @item, url: item_path do |f| %>
  <table border="0" cellpadding="11" cellspacing="0" width="60%">
    <tr><th>商品画像</th><td><%= f.file_field :images, multiple: true, placeholder: "商品画像", accept: "image/*" %></td></tr>

    <tr><th>商品名</th><td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></td></tr>
    <tr><th>商品説明</th><td><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"商品説明"%></td></tr>
    <tr><th>商品の状態</th><td><%= f.select :status, {'新品未使用':'新品未使用','ほぼ新品':'ほぼ新品','傷や汚れあり':'傷や汚れあり','状態は悪い':'状態は悪い'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></td></tr>
    <tr><th>税抜価格</th><td><%= f.number_field :price, autofocus: true, id:"inputPrice", placeholder:"税抜価格"%>円</td></tr>
    <tr><th><%= f.submit '変更を保存', class: "btn btn-outline-success" %></td></tr>
  <% end %>
  </table>
</div>